In [39]:
 import pandas as pd

In [40]:
df = pd.read_csv('data/2791_2019dar.csv')

In [41]:
# Display a list of available teams
team_nums = df['Team Number']
team_nums = team_nums.drop_duplicates()

pd.set_option('display.max_rows', None)
print('Available Teams:')
print(team_nums)
pd.reset_option('display.max_rows')

Available Teams:
0       51
1      868
2     3044
3     4381
4     3381
5     7651
6      245
7     3604
8     1792
9     5951
10    1690
11    6401
12    5501
13     503
14    3618
15    3555
16    2500
17     125
18     250
19    3624
20    1923
21    6806
22    2337
23    1317
24     836
25    3926
26     236
27     103
28     225
29    1918
30    2791
31    4253
32    2502
33    5348
34    7480
35    5943
36    4481
37    5567
38    5811
39    2771
40     217
41    7885
42    1058
43    3707
44     365
45     771
46    2830
47     190
48    3146
49    1218
50    3542
51     449
52    7462
53    7719
54    5084
55     191
56      88
57    1676
58     175
59    3667
60     772
61    4143
62    1024
63    7673
64    2265
65     353
66      16
70    1781
Name: Team Number, dtype: int64

In [42]:
# Calculate the average score of a specified team
# Parameter team_num: the team number of the team to find the avg score of

def avg_score(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    total_score = 0

    for i in teamdf.index:

        # Hab Line Cross
        if teamdf['Hab Line 1/0'][i] == 1:
            startpos = teamdf['Starting Position'][i]
            if startpos == 'L1' or startpos == 'M' or startpos == 'R1':
                total_score += 3
            elif startpos == 'L2' or startpos == 'R2':
                total_score += 6

        # Hatch Panels
        total_score += 2 * (teamdf['Auto # H Ship Side'][i] + teamdf['Auto # H Ship Front'][i] +
                        teamdf['Tele H Ship'][i] + teamdf['Tele Rocket H L1'][i] + teamdf['Tele Rocket H L2'][i] +
                        teamdf['Tele Rocket H L3'][i])

        if teamdf['Auto H Rkt Lvl'][i] > 0:
            total_score += 2

        if teamdf['Auto H Rkt Lvl [2]'][i] > 0:
            total_score += 2

        # Cargo
        total_score += 3 * (teamdf['Auto # C Ship Side'][i] + teamdf['Tele C Ship'][i] + teamdf['Tele Rocket C L1'][i] +
                        teamdf['Tele Rocket C L2'][i] + teamdf['Tele Rocket C L3'][i])

        if teamdf['Auto C Rkt Lvl'][i] > 0:
            total_score += 3

        # Fouls
        if teamdf['Fouls? 0/1'][i] == 1:
            total_score -= 7

        # Hab Climb Bonus
        level = teamdf['Highest success'][i]
        if level == 1:
            total_score += 3
        elif level == 2:
            total_score += 6
        elif level == 3:
            total_score += 12

    return total_score / len(teamdf.index)

In [43]:
# Calculate a team's average score achieved during sandstorm
# Parameter team_num: the team number of the team to find the avg sandstorm score of

def sandstorm_score(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    total_score = 0

    for i in teamdf.index:

        # Hab Line Cross
        if teamdf['Hab Line 1/0'][i] == 1:
            startpos = teamdf['Starting Position'][i]
            if startpos == 'L1' or startpos == 'M' or startpos == 'R1':
                total_score += 3
            elif startpos == 'L2' or startpos == 'R2':
                total_score += 6

        # Hatch Panels
        total_score += 2 * (teamdf['Auto # H Ship Side'][i] + teamdf['Auto # H Ship Front'][i])

        if teamdf['Auto H Rkt Lvl'][i] > 0:
            total_score += 2

        if teamdf['Auto H Rkt Lvl [2]'][i] > 0:
            total_score += 2

        # Cargo
        total_score += 3 * (teamdf['Auto # C Ship Side'][i])

        if teamdf['Auto C Rkt Lvl'][i] > 0:
            total_score += 3

    return total_score / len(teamdf.index)

In [44]:
# Calculate a team's average score achieved during teleop
# Parameter team_num: team number

def teleop_score(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    total_score = 0

    for i in teamdf.index:

        # Hatch Panels
        total_score += 2 * (teamdf['Tele H Ship'][i] + teamdf['Tele Rocket H L1'][i] + teamdf['Tele Rocket H L2'][i] +
                            teamdf['Tele Rocket H L3'][i])

        # Cargo
        total_score += 3 * (teamdf['Tele C Ship'][i] + teamdf['Tele Rocket C L1'][i] + teamdf['Tele Rocket C L2'][i] +
                            teamdf['Tele Rocket C L3'][i])

        # Fouls
        if teamdf['Fouls? 0/1'][i] == 1:
            total_score -= 7

    return total_score / len(teamdf.index)

In [45]:
# Calculate a specified team's defense capability
# Parameter team_num: the team number of the team to find the defense capability of
# Remove this function? See 2 functions below -->
def defense_score(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    defense_score = 0

    for i in teamdf.index:
        defense_score += teamdf['Def pl amt'][i] + teamdf['Def pl quality'][i]

    return defense_score / len(teamdf.index)

In [46]:
# Determine the average amount of defense played by a specified team:

def defense_amount(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    defense_amount = 0

    for i in teamdf.index:
        defense_amount += teamdf['Def pl amt'][i]

    return defense_amount / len(teamdf.index)

In [47]:
# Calculate the average quality of defense played of a specified team:

def defense_quality(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    total_quality = 0

    for i in teamdf.index:
        total_quality += teamdf['Def pl quality'][i]

    return total_quality / len(teamdf.index)

In [48]:
# Determine how often a specified team's bot dies

def dead_score(team_num):

    # Creates a new dataframe containing only data for team team_num
    teamdf = df[df['Team Number'] == team_num]

    dead_score = 0

    for i in teamdf.index:
        if teamdf['Dead 0-3'][i] == 1:
            dead_score += 2
        elif teamdf['Dead 0-3'][i] == 2:
            dead_score += 7
        elif teamdf['Dead 0-3'][i] == 3:
            dead_score += 15

    return dead_score / len(teamdf.index)

In [49]:
def view_dashboard(team_num):
        output = 'Team ' + str(team_num) + ' Stats:\n'

        # Average Score
        output += '\n\tAverage Score: ' + str(avg_score(team_num)) + ' points\n'

        # Average Score during Auto
        output += '\n\tAverage Score During Auto: ' + str(sandstorm_score(team_num))+ ' points\n'

        # Average Score during Teleop
        output += '\n\tAverage Score During Teleop: ' + str(teleop_score(team_num))+ ' points\n'

        # Defense Amount
        output += '\n\tDefense Amount: '+ str(defense_amount(team_num)) + '\n'

        # Defense Quality
        dq = defense_quality(team_num)
        output += '\n\tDefense Quality: '

        if dq >= 4:
            output += 'Flawless\n'
        elif dq >= 3:
            output += 'Excellent\n'
        elif dq >= 2:
            output += 'Average\n'
        elif dq >= 1:
            output += 'Bad\n'
        elif dq >= 0:
            output += 'Non-existent\n'

        # Dead Amount
        output += '\n\tAmount of time dead: '+ str(dead_score(team_num))+ '\n'

        print(output)

In [54]:
def choose_members():

    #initialize code, read in team number column only
    team_df = df['Team Number']
    team_df = team_df.drop_duplicates()
    pd.set_option('display.max_rows', None)

    team_scores = []
    team_sandstorm = []
    team_teleop = []
    team_defense_scores = []
    team_defense_amount = []
    team_defense_quality = []
    team_dead_scores = []

    team_df.dropna(inplace = True)

    # get average score of all teams
    for i in team_df.index:
        avg = avg_score(team_df[i])
        team_scores.append(avg)

        sandstorm = sandstorm_score(team_df[i])
        team_sandstorm.append(sandstorm)

        teleop = teleop_score(team_df[i])
        team_teleop.append(teleop)

        ds = defense_score(team_df[i])
        team_defense_scores.append(ds)

        da = defense_amount(team_df[i])
        team_defense_amount.append(da)

        dq = defense_score(team_df[i])
        team_defense_quality.append(dq)

        dsc = dead_score(team_df[i])
        team_dead_scores.append(dsc)


    
    # data frame
    d = {'Team Number': team_df, 'Average Scores': team_scores}
    d1 = {'Team Number': team_df, 'Sandstorm Scores': team_sandstorm}
    d2 = {'Team Number': team_df, 'Teleop Scores': team_teleop}
    d3 = {'Team Number': team_df, 'Defense Scores': team_defense_scores}
    d4 = {'Team Number': team_df, 'Defense Amount': team_defense_amount}
    d5 = {'Team Number': team_df, 'Defense Quality': team_defense_quality}
    d6 = {'Team Number': team_df, 'Dead Scores': team_dead_scores}

    df2 = pd.DataFrame(data = d)
    df3 = pd.DataFrame(data = d1)
    df4 = pd.DataFrame(data = d2)
    df5 = pd.DataFrame(data = d3)
    df6 = pd.DataFrame(data = d4)
    df7 = pd.DataFrame(data = d5)
    df8 = pd.DataFrame(data = d6)
    
    # natural sort using average team scores
    df2 = df2.sort_values(by=['Average Scores'])
    df3 = df3.sort_values(by=['Sandstorm Scores'])
    df4 = df4.sort_values(by=['Teleop Scores'])
    df5 = df5.sort_values(by=['Defense Scores'])
    df6 = df6.sort_values(by=['Defense Amount'])
    df7 = df7.sort_values(by=['Defense Quality'])
    df8 = df8.sort_values(by=['Dead Scores'])

    print(df2)
    print('\n')
    print(df3)
    print('\n')
    print(df4)
    print('\n')
    print(df5)
    print('\n')
    print(df6)
    print('\n')
    print(df7)
    print('\n')
    print(df8)

In [55]:
# UI
while True:
    choice = int(input("""1 - View analytics dashboard for a specified team. \n
                       2 - Choose alliance members by viewing lists of best scorers, etc. \n
                       3 - Exit the program. \n
                       Enter either '1', '2', or '3' to select an option:"""))

    if choice == 1:
        team_input = int(input('Enter the team number of the team you wish to analyze:'))
        while True:
            team_df = df[df['Team Number'] == team_input]
            if len(team_df.index) == 0:
                team_input = int(input('The team number you have entered is not found in the database. Enter a valid team number:'))
            else:
                break
        view_dashboard(team_input)
        break
    elif choice == 2:
        choose_members()
        break
    elif choice == 3:
        break
    else:
        print("Please enter either '1' or '2'!")

    Team Number  Average Scores
45          771        8.625000
16         2500        8.818182
41         7885        9.100000
18          250        9.666667
52         7462       10.285714
19         3624       10.454545
53         7719       11.000000
70         1781       11.800000
34         7480       12.000000
65          353       12.750000
63         7673       12.777778
11         6401       13.272727
35         5943       13.818182
4          3381       14.272727
12         5501       14.500000
23         1317       14.636364
5          7651       14.875000
8          1792       15.444444
46         2830       15.500000
55          191       16.700000
62         1024       17.600000
21         6806       18.700000
64         2265       18.750000
37         5567       18.909091
14         3618       20.000000
36         4481       20.500000
58          175       20.555556
49         1218       21.111111
3          4381       21.333333
51          449       21.500000
42         1058       22.300000
26          236       22.333333
38         5811       22.333333
25         3926       23.500000
60          772       24.000000
1           868       24.000000
31         4253       24.200000
9          5951       24.222222
13          503       24.750000
20         1923       25.500000
44          365       26.272727
61         4143       26.400000
27          103       26.454545
24          836       26.555556
54         5084       26.555556
57         1676       26.583333
48         3146       26.900000
33         5348       27.800000
22         2337       28.222222
39         2771       28.300000
15         3555       28.400000
2          3044       28.700000
30         2791       29.083333
47          190       29.090909
50         3542       29.100000
29         1918       29.500000
40          217       30.538462
32         2502       30.900000
59         3667       31.875000
0            51       31.900000
10         1690       33.909091
17          125       34.750000
66           16       35.000000
43         3707       35.083333
7          3604       35.090909
6           245       35.444444
56           88       36.888889
28          225       37.000000


    Team Number  Sandstorm Scores
60          772          3.000000
4          3381          3.272727
27          103          3.454545
58          175          3.777778
34         7480          3.900000
50         3542          3.900000
37         5567          4.181818
52         7462          4.285714
70         1781          4.300000
38         5811          4.333333
8          1792          4.444444
42         1058          4.500000
66           16          4.500000
39         2771          4.600000
3          4381          4.666667
51          449          4.700000
41         7885          4.800000
64         2265          4.833333
40          217          4.846154
13          503          4.875000
26          236          4.888889
20         1923          4.900000
12         5501          5.000000
43         3707          5.083333
17          125          5.166667
49         1218          5.333333
19         3624          5.363636
32         2502          5.400000
54         5084          5.444444
16         2500          5.454545
36         4481          5.500000
53         7719          5.625000
23         1317          5.636364
63         7673          5.666667
24          836          5.888889
55          191          5.900000
0            51          5.900000
35         5943          5.909091
46         2830          5.916667
5          7651          6.000000
44          365          6.090909
61         4143          6.100000
48         3146          6.100000
30         2791          6.166667
45          771          6.250000
18          250          6.250000
62         1024          6.300000
29         1918          6.333333
31         4253          6.500000
59         3667          6.500000
57         1676          6.500000
22         2337          6.555556
6           245          6.666667
33         5348          6.900000
15         3555          7.000000
65          353          7.000000
1           868          7.100000
47          190          7.181818
7          3604          7.272727
11         6401          7.272727
25         3926          7.333333
28          225          7.333333
56           88          7.444444
9          5951          7.666667
2          3044          7.800000
10         1690          8.090909
14         3618          8.100000
21         6806          8.300000


    Team Number  Teleop Scores
45          771      -0.625000
11         6401       0.818182
16         2500       0.909091
41         7885       1.000000
19         3624       1.000000
18          250       1.166667
70         1781       1.500000
65          353       1.625000
53         7719       2.750000
12         5501       3.125000
52         7462       3.428571
34         7480       3.600000
63         7673       3.777778
23         1317       4.090909
35         5943       4.636364
8          1792       4.666667
21         6806       4.700000
46         2830       5.083333
5          7651       5.875000
37         5567       6.545455
55          191       6.600000
49         1218       7.111111
25         3926       7.416667
36         4481       7.800000
62         1024       8.600000
14         3618       8.900000
4          3381       9.090909
42         1058       9.400000
24          836      10.666667
1           868      10.900000
64         2265      11.166667
9          5951      11.222222
26          236      11.444444
31         4253      11.700000
60          772      11.727273
58          175      11.777778
47          190      12.363636
51          449      12.600000
22         2337      12.666667
3          4381      12.666667
61         4143      13.100000
48         3146      13.300000
44          365      13.636364
13          503      13.875000
54         5084      14.111111
59         3667      14.500000
57         1676      14.833333
32         2502      15.000000
0            51      15.200000
33         5348      15.200000
20         1923      15.500000
2          3044      16.400000
15         3555      16.600000
38         5811      16.666667
27          103      16.727273
30         2791      17.666667
39         2771      18.000000
50         3542      18.900000
56           88      19.111111
40          217      19.923077
6           245      21.111111
66           16      21.200000
17          125      21.833333
29         1918      21.916667
10         1690      22.000000
7          3604      22.090909
28          225      22.416667
43         3707      23.500000


    Team Number  Defense Scores
33         5348        0.000000
40          217        0.000000
47          190        0.000000
50         3542        0.000000
66           16        0.000000
32         2502        0.000000
29         1918        0.000000
27          103        0.000000
25         3926        0.000000
22         2337        0.000000
20         1923        0.000000
57         1676        0.000000
58          175        0.000000
17          125        0.000000
56           88        0.000000
6           245        0.000000
1           868        0.000000
2          3044        0.000000
3          4381        0.000000
64         2265        0.000000
8          1792        0.000000
62         1024        0.000000
43         3707        0.000000
10         1690        0.000000
60          772        0.000000
59         3667        0.250000
7          3604        0.272727
44          365        0.363636
61         4143        0.400000
42         1058        0.400000
39         2771        0.400000
28          225        0.416667
30         2791        0.416667
26          236        0.444444
31         4253        0.500000
54         5084        0.555556
15         3555        0.600000
51          449        0.600000
13          503        0.625000
24          836        0.666667
48         3146        0.700000
4          3381        0.727273
38         5811        1.000000
14         3618        1.000000
0            51        1.100000
23         1317        1.181818
53         7719        1.750000
37         5567        2.181818
63         7673        2.222222
55          191        2.300000
49         1218        2.333333
9          5951        2.333333
36         4481        2.400000
46         2830        2.583333
21         6806        2.800000
12         5501        2.875000
34         7480        3.000000
52         7462        3.142857
70         1781        3.300000
41         7885        3.400000
35         5943        3.636364
5          7651        3.750000
65          353        4.000000
16         2500        4.090909
11         6401        4.818182
19         3624        4.909091
45          771        6.000000
18          250        6.166667


    Team Number  Defense Amount
33         5348        0.000000
25         3926        0.000000
32         2502        0.000000
22         2337        0.000000
43         3707        0.000000
20         1923        0.000000
56           88        0.000000
57         1676        0.000000
17          125        0.000000
58          175        0.000000
66           16        0.000000
29         1918        0.000000
50         3542        0.000000
47          190        0.000000
10         1690        0.000000
62         1024        0.000000
8          1792        0.000000
6           245        0.000000
64         2265        0.000000
40          217        0.000000
3          4381        0.000000
2          3044        0.000000
1           868        0.000000
60          772        0.000000
27          103        0.000000
7          3604        0.090909
59         3667        0.125000
30         2791        0.166667
54         5084        0.222222
26          236        0.222222
28          225        0.250000
44          365        0.272727
31         4253        0.300000
51          449        0.300000
15         3555        0.300000
48         3146        0.300000
61         4143        0.300000
39         2771        0.300000
42         1058        0.300000
24          836        0.333333
38         5811        0.333333
13          503        0.375000
4          3381        0.454545
0            51        0.500000
14         3618        0.700000
23         1317        0.727273
37         5567        1.000000
55          191        1.200000
36         4481        1.200000
49         1218        1.222222
53         7719        1.250000
63         7673        1.333333
9          5951        1.333333
46         2830        1.416667
12         5501        1.625000
34         7480        1.700000
21         6806        1.700000
35         5943        2.000000
70         1781        2.000000
41         7885        2.000000
52         7462        2.000000
16         2500        2.000000
65          353        2.125000
5          7651        2.250000
19         3624        2.636364
11         6401        2.636364
18          250        2.833333
45          771        3.000000


    Team Number  Defense Quality
33         5348         0.000000
40          217         0.000000
47          190         0.000000
50         3542         0.000000
66           16         0.000000
32         2502         0.000000
29         1918         0.000000
27          103         0.000000
25         3926         0.000000
22         2337         0.000000
20         1923         0.000000
57         1676         0.000000
58          175         0.000000
17          125         0.000000
56           88         0.000000
6           245         0.000000
1           868         0.000000
2          3044         0.000000
3          4381         0.000000
64         2265         0.000000
8          1792         0.000000
62         1024         0.000000
43         3707         0.000000
10         1690         0.000000
60          772         0.000000
59         3667         0.250000
7          3604         0.272727
44          365         0.363636
61         4143         0.400000
42         1058         0.400000
39         2771         0.400000
28          225         0.416667
30         2791         0.416667
26          236         0.444444
31         4253         0.500000
54         5084         0.555556
15         3555         0.600000
51          449         0.600000
13          503         0.625000
24          836         0.666667
48         3146         0.700000
4          3381         0.727273
38         5811         1.000000
14         3618         1.000000
0            51         1.100000
23         1317         1.181818
53         7719         1.750000
37         5567         2.181818
63         7673         2.222222
55          191         2.300000
49         1218         2.333333
9          5951         2.333333
36         4481         2.400000
46         2830         2.583333
21         6806         2.800000
12         5501         2.875000
34         7480         3.000000
52         7462         3.142857
70         1781         3.300000
41         7885         3.400000
35         5943         3.636364
5          7651         3.750000
65          353         4.000000
16         2500         4.090909
11         6401         4.818182
19         3624         4.909091
45          771         6.000000
18          250         6.166667


    Team Number  Dead Scores
0            51     0.000000
32         2502     0.000000
66           16     0.000000
34         7480     0.000000
36         4481     0.000000
37         5567     0.000000
39         2771     0.000000
40          217     0.000000
41         7885     0.000000
42         1058     0.000000
43         3707     0.000000
44          365     0.000000
45          771     0.000000
48         3146     0.000000
49         1218     0.000000
52         7462     0.000000
53         7719     0.000000
54         5084     0.000000
56           88     0.000000
58          175     0.000000
59         3667     0.000000
60          772     0.000000
61         4143     0.000000
62         1024     0.000000
64         2265     0.000000
65          353     0.000000
29         1918     0.000000
28          225     0.000000
33         5348     0.000000
26          236     0.000000
1           868     0.000000
2          3044     0.000000
3          4381     0.000000
4          3381     0.000000
6           245     0.000000
7          3604     0.000000
9          5951     0.000000
10         1690     0.000000
11         6401     0.000000
12         5501     0.000000
27          103     0.000000
15         3555     0.000000
13          503     0.000000
70         1781     0.000000
18          250     0.000000
21         6806     0.000000
19         3624     0.000000
24          836     0.000000
14         3618     0.200000
31         4253     0.200000
50         3542     0.200000
51          449     0.200000
38         5811     0.222222
5          7651     0.250000
57         1676     0.583333
47          190     0.636364
35         5943     0.636364
20         1923     0.700000
30         2791     1.166667
17          125     1.250000
46         2830     1.250000
25         3926     1.250000
23         1317     1.363636
55          191     1.500000
63         7673     1.555556
8          1792     1.666667
22         2337     1.666667
16         2500     2.000000