In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('data/2791_2019dar.csv')

In [6]:
teaminput = int(input('Enter a team number'))
teamdata = data[data['Team Number'] == teaminput]

In [7]:
teamdata

Empty DataFrame
Columns: [Team Number, Match Number, Starting Position, Hab Line 1/0, Auto # H Ship Side, Auto # H Ship Front, Auto # C Ship Side, Auto C Rkt Lvl, Auto H Rkt Lvl, Auto H Rkt Lvl [2], Auto # C Dropped, Auto # H Dropped, Tele H Ship, Tele C Ship, Tele Rocket H L1, Tele Rocket H L2, Tele Rocket H L3, Tele Rocket C L1, Tele Rocket C L2, Tele Rocket C L3, Tele Dropped C, Tele Dropped H, Def pl amt, Def pl quality, Def rec amt, Who Played D, Fouls? 0/1, Dead 0-3, Highest success, Highest attempt, Was assisted? 1/0]
Index: []

[0 rows x 31 columns]