In [76]:
import pandas as pd

In [77]:
df = pd.read_csv('data/2791_2019dar.csv')

In [78]:
# Display a list of available teams
teamNums = df['Team Number']
pd.set_option('display.max_rows', None)
print('Available Teams:')
print(teamNums.drop_duplicates())
pd.reset_option('display.max_rows')

Available Teams:
0        51
1       868
2      3044
3      4381
4      3381
5      7651
6       245
7      3604
8      1792
9      5951
10     1690
11     6401
12     5501
13      503
14     3618
15     3555
16     2500
17      125
18      250
19     3624
20     1923
21     6806
22     2337
23     1317
24      836
25     3926
26      236
27      103
28      225
29     1918
30     2791
31     4253
32     2502
33     5348
34     7480
35     5943
36     4481
37     5567
38     5811
39     2771
40      217
41     7885
42     1058
43     3707
44      365
45      771
46     2830
47      190
48     3146
49     1218
50     3542
51      449
52     7462
53     7719
54     5084
55      191
56       88
57     1676
58      175
59     3667
60      772
61     4143
62     1024
63     7673
64     2265
65      353
66       16
70     1781
197       0
Name: Team Number, dtype: int64

In [79]:
teamInput = int(input('Enter a team number'))
teamdf = df[df['Team Number'] == teamInput]
teamdf

,Team Number,Match Number,Starting Position,Hab Line 1/0,Auto # H Ship Side,Auto # H Ship Front,Auto # C Ship Side,Auto C Rkt Lvl,Auto H Rkt Lvl,Auto H Rkt Lvl [2],...,Tele Dropped H,Def pl amt,Def pl quality,Def rec amt,Who Played D,Fouls? 0/1,Dead 0-3,Highest success,Highest attempt,Was assisted? 1/0
0,51,1,R2,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2,2,0
82,51,14,R2,1,0,0,0,0,0,0,...,0,0,0,1,6806,0,0,3,3,0
163,51,28,L2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3,0
205,51,36,R2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3,0
356,51,63,R2,1,0,0,0,0,0,0,...,0,0,0,1,4481,0,0,3,3,0
405,51,71,L2,1,0,0,0,0,0,0,...,1,3,2,0,0,0,0,3,3,0
474,51,83,M,1,0,0,0,0,0,0,...,0,0,0,2,7462,0,0,3,3,0
529,51,92,L2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
634,51,111,L2,1,0,0,0,0,0,0,...,1,1,2,0,0,0,0,3,3,0
659,51,111,L2,1,0,0,0,0,0,0,...,1,1,2,0,0,0,0,3,3,0

In [80]:
# Find out the average score of the team's bot
def avgScore(df):

    totalScore = 0

    for i in df.index:

        # Hab Line Cross
        if df['Hab Line 1/0'][i] == 1:
            startpos = df['Starting Position'][i]
            if startpos == 'L1' or startpos == 'M' or startpos == 'R1':
                totalScore += 3
            elif startpos == 'L2' or startpos == 'R2':
                totalScore += 6

        # Hatch Panels
        totalScore += 2 * (df['Auto # H Ship Side'][i] + df['Auto # H Ship Front'][i] +
                        df['Tele H Ship'][i] + df['Tele Rocket H L1'][i] + df['Tele Rocket H L2'][i] +
                        df['Tele Rocket H L3'][i])

        if df['Auto H Rkt Lvl'][i] > 0:
            totalScore += 2

        if df['Auto H Rkt Lvl [2]'][i] > 0:
            totalScore += 2

        # Cargo
        totalScore += 3 * (df['Auto # C Ship Side'][i] + df['Tele C Ship'][i] + df['Tele Rocket C L1'][i] +
                        df['Tele Rocket C L2'][i] + df['Tele Rocket C L3'][i])

        if df['Auto C Rkt Lvl'][i] > 0:
            totalScore += 3

        # Fouls
        if df['Fouls? 0/1'][i] == 1:
            totalScore -= 7

        # Hab Climb Bonus
        level = df['Highest success'][i]
        if level == 1:
            totalScore += 3
        elif level == 2:
            totalScore += 6
        elif level == 3:
            totalScore += 12
        averageScore = totalScore / len(df)

    return averageScore

print('Average Score of Team', teamInput, 'is', avgScore(teamdf), 'points')

Average Score of Team 51 is 31.9 points

In [ ]:
# Find out the points the team's bot made during the auto
def sandstormScore(df):

    totalScore = 0

    for i in df.index:

        # Hatch Panels
        totalScore += 2 * (df['Auto # H Ship Side'][i] + df['Auto # H Ship Front'][i] + df['Auto # H Dropped'][i])

        if df['Auto H Rkt Lvl'][i] > 0:
            totalScore += 2

        if df['Auto H Rkt Lvl [2]'][i] > 0:
            totalScore += 2

        # Cargo
        totalScore += 3 * (df['Auto # C Ship Side'][i] + df['Auto # C Dropped'][i])

        if df['Auto C Rkt Lvl'][i] > 0:
            totalScore += 3

    return totalScore

In [ ]:
# Find out if the team's bot are aggressive and need to be defended
# (higher the score = more aggressive = need more defense against that bot)
def threatScore(df):

    totalScore = 0

    # Defended Against Counter
    for i in df.index:

        # Defense received (total score will be equal to the number of times that bot received defense)
        # (this isn't the best method to measure if the bot needs to be defended against; however, we can..
        # safely assume that from previous matches, there must be some logic to why that bot was defeneded against)
        totalScore += df['Def rec amt'][i]

    return totalScore

In [ ]:
# Find out if the team's bot are good at defending
def defenseScore(df):

    totalScore = 0

    # Defended For Counter
    for i in df.index:

        totalScore += (df['Def pl amt'][i] * df['Def pl quality'][i])

    return totalScore

In [ ]:
# Find out how often the team's bot dies
def deadScore(df):

    totalScore = 0

    # Dead Counter
    for i in df.index:

        totalScore += df['Dead 0-3']

    return totalScore