In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("data/2791_2019dar.csv")
data.head(n = 10)

,Team Number,Match Number,Starting Position,Hab Line 1/0,Auto # H Ship Side,Auto # H Ship Front,Auto # C Ship Side,Auto C Rkt Lvl,Auto H Rkt Lvl,Auto H Rkt Lvl [2],...,Tele Dropped H,Def pl amt,Def pl quality,Def rec amt,Who Played D,Fouls? 0/1,Dead 0-3,Highest success,Highest attempt,Was assisted? 1/0
0,51,1.0,R2,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2,2,0
1,868,1.0,M,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,3,3,0
2,3044,1.0,L2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,4381,1.0,R1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,3,0
4,3381,1.0,M,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,7651,1.0,L2,1,0,0,0,0,0,0,...,0,3,1,0,0,0,1,1,1,0
6,245,2.0,R2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
7,3604,2.0,L2,1,0,0,1,0,0,0,...,0,0,0,1,6401,0,0,2,0,0
8,1792,2.0,M,1,0,1,0,0,0,0,...,0,0,0,1,6401,0,0,3,0,0
9,5951,2.0,R2,1,0,0,0,0,2,0,...,0,3,3,0,0,0,0,2,0,0

In [5]:
data.describe()

,Team Number,Match Number,Hab Line 1/0,Auto # H Ship Side,Auto # H Ship Front,Auto # C Ship Side,Auto C Rkt Lvl,Auto H Rkt Lvl,Auto H Rkt Lvl [2],Auto # C Dropped,...,Tele Dropped C,Tele Dropped H,Def pl amt,Def pl quality,Def rec amt,Who Played D,Fouls? 0/1,Dead 0-3,Highest success,Highest attempt
count,687.000000,687.000000,687.000000,687.000000,687.000000,687.00000,687.000000,687.000000,687.000000,687.000000,...,687.000000,687.000000,687.000000,687.000000,687.000000,687.000000,687.000000,687.000000,687.000000,687.000000
mean,2784.208151,59.796361,0.915575,0.056769,0.208151,0.10917,0.001456,0.264920,0.056769,0.011645,...,0.451237,0.314410,0.672489,0.564774,10.336245,828.612809,0.037846,0.069869,1.650655,1.768559
std,2329.773934,34.333039,0.278227,0.231568,0.416906,0.31208,0.038152,0.555629,0.312019,0.107359,...,0.752175,0.670154,1.199678,1.080484,259.650133,1995.514072,0.190962,0.401612,1.001571,1.017486
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,503.000000,30.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2500.000000,60.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,4143.000000,90.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.500000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
max,7885.000000,114.820000,1.000000,1.000000,2.000000,1.00000,1.000000,3.000000,3.000000,1.000000,...,4.000000,6.000000,3.000000,4.000000,6806.000000,7889.000000,1.000000,3.000000,3.000000,3.000000